<div class="container-fluid pt-3">
  <div class="row mx-2 my-4">
    <app-card id="info" class="col-12 col-lg-4" [icon]="false">
      <h3 title>Do you love scrabble?</h3>
      <ng-template #content>
        <p id="info-content">
          This is just some placeholder text about scrabble. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
      </ng-template>
    </app-card>
    <app-card id="call-us" class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0" [icon]="true">
      <p icon>
        <mat-icon svgIcon="callus"></mat-icon>
      </p>
      <h5 title id="callus-title">Call us</h5>
      <ng-template #content>
        <p>
          We are available by phone 9am - 5pm<br /><u class="fw-bold">0115 123 4567</u>
        </p>
      </ng-template>
    </app-card>
    <app-card id="find-us" class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0" [icon]="true">
      <p icon>
        <mat-icon svgIcon="findus"></mat-icon>
      </p>
      <h5 title>Find us</h5>
      <ng-template #content>
        <p>
          123 fake street, Someplace, Nottignham, NG1 2TR<br /><u class="fw-bold">Open in maps</u>
        </p>
      </ng-template>
    </app-card>
  </div>
  <div class="row mx-2 mt-4">
    <app-card id="result" class="col px-0 m-2" [icon]="false">
      <h3 title>Results</h3>
      <ng-template #content>
        <app-table [PlayerResultList]="playerResultList"></app-table>
      </ng-template>
    </app-card>
  </div>
</div>