.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0;
}

mat-chip {
  transition: none !important;
  box-shadow: none !important;
}

body p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  /* or 25px */

  color: #000000;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 0;
  /* identical to box height, or 28px */

  letter-spacing: -0.25px;

  color: #000000;
}

h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: -0.5px;
}

#info-content {
  max-height: 90px;
}
